body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: small;
}

.header {
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    height: 40px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 50%;
    margin: 50px 0;
}

.content title {
    font-size: 1.2em;
    color: #E5E7EB;
}

.content text {
    font-size: 1.2em;
    color: #E5E7EB;
}

.sign-up {
    padding: 10px 20px;
    background-color: #3882f6;
    color: #E5E7EB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    padding: 50px 20px;
    background-color: #ffffff;
}

.mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 1.5em;
    font-weight: bold;
}

.mid-section img {
    border: 2px solid #3882f6;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}

.third-section {
    padding: 50px 20px;
    background-color: #E5E7EB;
    text-align: center;
}

.third-section .quote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    text-align: left;
}

.third-section .author {
    font-size: 16px;
    color: #1f2937;
    text-align: right;
    font-weight: bold;
}

.fourth-section {
    font-size: 1.2em;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.footer {
    text-align: center;
    background: #1f2937;
    color: #F9FAF8;
    font-size: small;
    padding: 10px 0;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .content img {
        width: 50px;
        border-radius: 5px;
    }

    .mid-section {
        flex-direction: row;
        justify-content: center;
    }

    .mid-section img {
        width: 150px;
        height: 150px;
    }
}